/*
    Simple CSS file
    Made for Student Performance Tracker
    Basic styling only
*/


body {

    font-family: Arial, sans-serif;

    background-color: #f2f2f2;

    margin: 0;

    padding: 0;

}




.container {


    width: 80%;

    margin: auto;

    margin-top: 40px;

    background-color: white;

    padding: 25px;

    border-radius: 10px;

}





h1 {


    text-align: center;

    color: #333;

}




h2 {


    color: #444;

}




.menu {


    text-align: center;

    margin: 20px;

}





.menu a {


    display: inline-block;

    text-decoration: none;

    background-color: #007bff;

    color: white;

    padding: 10px 15px;

    margin: 5px;

    border-radius: 5px;

}




.menu a:hover {


    background-color: #0056b3;

}





input {


    width: 300px;

    padding: 8px;

    border: 1px solid gray;

    border-radius: 5px;

}





button {


    background-color: green;

    color: white;

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}




button:hover {


    background-color: darkgreen;

}




table {


    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

}





th {


    background-color: #007bff;

    color: white;

    padding: 10px;

}





td {


    border: 1px solid #ddd;

    padding: 10px;

    text-align: center;

}





.message {


    color: green;

    font-weight: bold;

}