<!--
    Add Student Page
    Simple form for adding students
-->


<!DOCTYPE html>

<html>


<head>

    <title>
        Add Student
    </title>


    <link rel="stylesheet" href="/static/style.css">


</head>



<body>


<div class="container">


<h1>
    Add New Student
</h1>



<form method="POST">


<label>
    Student Name:
</label>


<br>


<input 
type="text"
name="name"
placeholder="Enter name"
required
>


<br><br>



<label>
    Roll Number:
</label>


<br>


<input
type="number"
name="roll"
placeholder="Enter roll number"
required
>


<br><br>



<button type="submit">
    Add Student
</button>



</form>




<br>


<p class="message">

{{ message }}

</p>




<a href="/">
    Back to Home
</a>



</div>


</body>


</html>